{% extends "Site/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'Site/ProdutCSS.css' %}">
    <script src="{% static 'Site/LoginJS.js' %}"></script>

<!-- here add produt -->

    <div class="container">
        <div class="row">
            {% for produt in posts %}
                {% if Produt.valdait == true %}
                        <div class="card">
                            <img src="{{ produt.Img.url }}" alt="Denim Jeans" style="width:100%">
                            <h3>{{ produt.ProductName }}</h3>
                            <h1>{{ produt.Name }}</h1>
                            <p>nikotin indhold: {{ produt.NicotineContent }}G</p>
                            <p class="price">{{ produt.Price }} Kr</p>
                            <p>{{ produt.Description }}</p>
                        </div>
                {% endif  %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}
