{% extends "Site/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
{% load static %}
<!-- here add produt -->
{% for produt in posts %}
        <div class="card">
            <img src="" alt="Denim Jeans" style="width:100%">
            <h2>{{ produt.Name }}</h2>
            <h1>{{ produt.ProductName }}</h1>
            <p>{{ produt.NicotineContent }}</p>
            <p class="price">{{ produt.Price }}</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>more info</button></p>
        </div>

        <!-- here vis mere af produt -->
        <div id="id03" class="modal">

        </div>
{% endfor %}
{% endblock content %}
