{% extends "Site/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <div class="container">
    <br><br><br>
  <div class="row text-center">
    <div class="col-sm">
    </div>
    <div class="col-sm bg-secondary">
        <br><br>
    <h1>Contact Me</h1>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <input type="submit" class="btn btn-info btn-lg" value="Send">
    </div>
</form>
        <br>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock content %}